@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/gruvbox-dark.css';

@import '../node_modules/font-awesome/css/font-awesome.css';

interactive-console {

    display: none;
    width: 100%;
    position: relative;

    &:hover {
      .controls {
        opacity: 1;
      }
    }

    .controls {

      position: absolute;
      left: -35px;
      display: flex;
      flex-direction: column;

      transition: opacity 0.2s;

      opacity: 0;

      &:hover{
        opacity: 1;
      }

        button {
            background: none;
            color: rgba(#1D2021, 0.5);
            border: none;
            outline: none;
            font-size: 14px;
            font-family: monospace;
            padding: 8px 13px;
            cursor: pointer;

            transition: color 0.2s;

            &:hover {
                color: rgba(#1D2021, 0.8);
            }

            &:active {
                color: rgba(#1D2021, 1.0);
            }

        }
    }

    .code {
        padding: 12px 18px;
        background: #282828;

        .CodeMirror {
            height: fit-content;
            font-size: 15px;
        }

    }

    .output {
        background: #EBDBB2;
        padding: 4px 24px;
        padding-top: 12px;
        font-family: monospace;
        font-weight: bold;
        font-size: 15px;
        color: #3C3836;
        border: solid 3px #282828;
        max-height: 230px;
        overflow-y: auto;

        &:empty {
          display: none;
        }

        div {
            border-bottom: solid rgba(#282828, 0.2) 1px;
            margin-bottom: 12px;

            &.error {
                color: #CC241D;
            }

            &.log {
                color: #458588
            }

            span {

                &.type {
                    min-width: 30px;
                    margin-right: 12px;
                }

                &.undefined {
                    opacity: 0.6;
                }
            }

        }

    }

}
